doctype html
head
  title Create User
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="stylesheet" href="css/main.css")
body
  - var recentPost = posts[0];

  .menu
    .nav-container
      .logo: img(src="img/iso_logo_new.png")
      nav
        ul
          each link in links
            li: a(href=link.path) #{link.title}

  header#main-header(
    style=`background: url('${recentPost.thumb}') center center / cover no-repeat #eee;`
  )

    .recent-post-container
      h2: a(href=`/post/${recentPost.url}`) #{recentPost.title}
      .shorthand-container #{recentPost.shorthand}

  section
    h3 Top posts
    each post, index in posts
      if index !== 0
        - var url = post.thumb || "/img/placeholder.png";
        - var shorthand = post.shorthand || "That's very interesting post. Please read it!"
        article
          a.post-thumb(
            style=`background: url('${url}') center center / cover no-repeat #eee;`
            href=`/post/${post.url}`
          )
          .post-description
            header
              h3: a(href=`/post/${post.url}`) #{post.title}
            div !{shorthand}
            p: a(href="/post/" + post.url) Read More
  footer
    div 2017 © It's copyright

  script(src="js/main.js")
