doctype html
head
  title #{post.title}

body
  nav
    p: a(href="/") Home sweet home
  section
    img(src=post.thumb)
    h1 #{post.title}
    div !{post.content}

p: a(href=`/edit/${post._id}`) Edit post