doctype html
title Users

body
  nav
    ul
      each link in links
        li: a(href=link.path) #{link.title}

  form#create-user(
    action="/user"
    method="POST"
  )
    label Name:
      input#name(type="text" name="name" required)
    br
    label Age:
      input#age(type="number" name="age" required)
    br
    label Username:
      input#username(type="text" name="username" required)
    br
    label Password:
      input#password(type="password" name="password" required)
    br
    button Create user

  each user in users
    div.user(
      style="margin: 10px; padding: 10px; border: 1px solid #ddd"
      data-name=user.name
    )
      | User: #{user.name}
      br
      | Age: #{user.age}
      br
      | Gender: #{user.gender}
      br
      | Role: #{user.role}
      br
      button(data-user=user.name) Remove

  script(src="js/users.js")